<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Postit</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
  <script src="/postit/scripts/draggable.js"></script>
  <style>
body, html { height: 100%; }
.draggable {
  width: 200px;
  height: 200px;
  padding: 0.5em;
  border: 1px solid;
}
.New { background-color: #ceffee}
.username { font-size: 10px; position: absolute; bottom: 11px}
.timestamp { font-size: 10px; position: absolute; bottom: 0px; }
.delete { display: block; position: absolute; right: 3px; }
  </style>
  <base href="/postit/dashboard/" />
</head>
<body>
  <div id="control">
    <div ng-app="posts" id="postits">
      <div ng-controller="dialogCtrl" class="md-padding" ng-cloak>
	<md-menu md-offset="0 7">
	  <md-button aria-label="menu" ng-click="$mdOpenMenu($event)">
	    &#9776; Menu
	  </md-button>
	  <md-menu-content width="2">
	    <md-menu-item>
	      <md-button ng-click="showDialog($event)">
		Create
	      </md-button>
	    </md-menu-item>
	    <md-menu-item>
	      <md-button redirect="/postit/logout">
		Logout
	      </md-button>
	    </md-menu-item>
	  </md-menu-content>
	</md-menu>
      </div>
      
      <div ng-controller="postsCtrl" ng-cloak>
	<div postit-draggable
	     ng-repeat="post in posts" class="{{post.state.name}} draggable" onload="load()">
	  <a class="delete"
	     href="javascript:void(0)" ng-click="remove(post.id)">x</a>
	  <div>{{post.note}}</div>
	  <div class="username">Created by {{post.user.username}}</div>
	  <div class="timestamp">Created at {{post.creationDate | date:'medium'}}</div>
	</div>
      </div>
      
    </div>
  </div>
  <script><!--
var posts = angular.module('posts',
			   ['ngMaterial',
			    'ngMessages',
			    'ngResource',
			    'ngRoute',
			    'draggable']);

function check_redirect(response, next) {
    if (typeof response.data === "string" && response.data != "OK") {
	location.href = "/postit/logout";
    } else {
	next();
    }
}

posts.config(function($locationProvider) {
    $locationProvider.html5Mode({
	enabled: true
    });
});

posts.controller('postsCtrl', function($scope, $http, $rootScope, $location) {
    // maybe we just want to append the result.
    console.log($location.path());
    $rootScope.$on("reload", function() {
	$scope.load();
    });
    $scope.load = function() {
	$http.get("/postit/load-postit" + $location.path())
            .then(
		function(response) {
		    check_redirect(response, function() {
			$scope.posts = response.data;
		    });
		},
		function(response) {
		    $scope.posts = [];
		});

    };
    $scope.remove = function(id) {
	$http({
	    method: "POST",
	    url: "/postit/remove-postit",
	    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
	    data: "id=" + id
	}).then(
	    function(response) {
		check_redirect(response, $scope.load);
	    },
	    function(response) {
	    });
    };
    $scope.load();// is there a better way?
});

posts.controller('dialogCtrl', function($scope, $mdDialog, $rootScope, $http,  $location) {

    $scope.showDialog = function(ev) {
	$mdDialog.show({
	    controller: DialogController,
	    templateUrl: '/postit/templates/post.tmpl.html',
	    parent: angular.element(document.body),
	    targetEvent: ev,
	    clickOutsideToClose: true
	}).then(function(note) {
	    var user = $location.path().substring(1);
	    var data = {'username': user, 'note': note};
	    $http({
		method: 'POST',
		url: "/postit/create-postit",
		data: data
	    }).then(
		function(response) {
		    check_redirect(response, function() {
			$rootScope.$emit("reload", {});
		    });
		}
	    );
	});
    };
});

function DialogController($scope, $mdDialog) {
  $scope.hide = function() { $mdDialog.hide(); };
  $scope.cancel = function() { $mdDialog.cancel(); };
  $scope.create = function() {
    $mdDialog.hide($scope.note); 
  };
}

// From
// http://stackoverflow.com/questions/15847726/is-there-a-simple-way-to-use-button-to-navigate-page-as-a-link-does-in-angularjs
posts.directive('redirect', function($location) {
    return function (scope, element, attrs) {
	var path;
	attrs.$observe('redirect', function(val) {
	    path = val;
	});
	element.bind('click', function() {
	    scope.$apply(function() {
		location.href = path;
		//$location.path(path);
	    });
	});
    };
});
--></script>
</body>
</html>

